.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.home-about-social-links {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  display: flex; /* Aligns the items in a row */
  gap: 15px; /* Adds space between the icons */
}

.social-icons {
  display: inline-block; /* Ensures icons are in a line */
}

.icon-colour {
  color: #000; /* Set color of the icons */
  text-decoration: none; /* Removes underline from links */
}

.icon-colour:hover {
  color: #0073b1; /* Change color on hover */
}

.social-icon {
  font-size: 1.5em; /* Adjust size of the icons */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
